# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.DS_Store
public.zip
.idea/*
.vscode/*

# Compiled output
index.js
# Node.js and NPM
node_modules
npm-debug.log
